<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev - RCJ2025</title>
    <style>
    </style>
</head>

<body>
    <div>
        Körök száma: <span id="lapCount">{{laps}}</span>
        <br>
        Verseny kezdete: <span id="raceStart">{{race_start}}</span>
        <br>
        Verseny vége: <span id="raceEnd">{{race_end}}</span>
        <br>
        Kör idők: 
        <div id="lapTimes">
            {% for lap in lap_times %}
            <div>{{ lap }}</div>
            {% endfor %}
        </div>
        <hr>
        <button onclick="startRace()">Start</button>
        <button onclick="endRace()">End</button>
        <button onclick="DEV_ADD()">Kör</button>
    </div>

    <script>
        var socket = io();

        // Update lap count when server sends new data
        socket.on('update_data', function (data) {
            document.getElementById('lapCount').textContent = data.laps
            document.getElementById('lapTimes').innerHTML = ''
            data.lap_times.forEach(function(lap) {
                var lapDiv = document.createElement('div')
                lapDiv.textContent = JSON.stringify(lap)
                document.getElementById('lapTimes').appendChild(lapDiv)
            })
            document.getElementById("raceEnd").textContent = data.race_end
            document.getElementById("raceStart").textContent = data.race_start

            console.log(data)
        })




        function startRace() {
            socket.emit("start")
        }

        function endRace() {
            socket.emit("end")
        }

        function DEV_ADD() {
            socket.emit("DEV_ADD")
        }
    </script>
</body>

</html>