CompileFlags:
  Add:
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/boot_bootrom_headers/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/cmsis/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_adc/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_base/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_boot_lock/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_clocks/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_dcp/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_divider/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_dma/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_exception/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_flash/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_gpio/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_hazard3/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_i2c/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_interp/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_irq/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_pio/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_pll/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_powman/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_pwm/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_rcp/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_resets/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_riscv/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_riscv_platform_timer/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_rtc/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_sha256/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_spi/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_sync/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_sync_spin_lock/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_ticks/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_timer/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_uart/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_vreg/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_watchdog/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_xip_cache/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/hardware_xosc/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_aon_timer/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_async_context/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_atomic/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_bit_ops/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_bootrom/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_bootsel_via_double_reset/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_btstack/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_clib_interface/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_crt0/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_cxx_options/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_cyw43_arch/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_cyw43_driver/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_divider/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_double/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_fix/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_flash/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_float/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_i2c_slave/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_int64_ops/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_lwip/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_malloc/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_mbedtls/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_mem_ops/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_multicore/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_platform_compiler/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_platform_panic/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_platform_sections/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_printf/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_rand/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_runtime/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_runtime_init/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_sha256/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_standard_binary_info/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_standard_link/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdio/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdio_rtt/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdio_semihosting/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdio_semihosting/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdio_uart/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdio_usb/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_stdlib/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_time_adapter/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_unique_id/include"
    - "-Ibuild/_deps/pico_sdk-src/src/rp2_common/pico_tinyusb/include"
